{% load static %}
    <div class="pt-5 pb-5 needwebsite" dir="rtl">
        <div class="container d-flex justify-content-start">
            <div>
                <h5 class="coloredtext text-nowrap">به یک وبسایت حرفه ای نیاز دارید؟</h5>
                <p class="text-secondary text-justify">همین حالا با ما تماس بگیرید !!
                </p>
            </div>
        </div>
    </div>

    <div class="footer position-relative">
        <div class="container pb-5 pt-5 text-white">
            <div class="row">
                <div class="d-flex justify-content-between mb-3">
                    <div dir="rtl" class="d-flef align-self-center col-md-6 col-sm-12">
                        <h5 class="pb-2">مقالات اخیر</h5>
                        <ul>
                            <li>آیفون ۱۵: آنچه تاکنون می دانیم</li>
                            <li>Css ۳ چیست ؟</li>
                            <li>جام جهانی ۲۰۲۲؛ قطر با ناوگانی از اتوبوس‌های برقی خودران تماشاگران را جابه‌جا می‌کند
                            </li>
                        </ul>
                    </div>

                    <div dir="rtl" class="d-flef align-self-center col-md-6 text-nowrap col-sm-12">
                        <h5 class="pb-2">لینک های سریع</h5>
                        <ul>
                            <li><a class="text-decoration-none text-white">صفحه اصلی</a></li>
                            <li><a href="#services" class="text-decoration-none text-white">خدمات</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-between mb-3" id="callus">
                    <div class="bg-white rounded-4 text-center p-3 px-5 col-md-2 col-sm-12" dir="ltr">
                        <h5 class="text-dark text-nowrap text-justify">تماس با ما</h5>
                        <p class="text-secondary text-justify">09375300694</p>
                        <p class="text-secondary text-justify">09107658565</p>
                    </div>

                    <div class="d-flef align-self-center col-md-10 col-sm-12 text-end">
                        <a href="https://instagram.com/trick_hub_?igshid=OGQ2MjdiOTE=" class="text-white" title="instagram page link">
                            <i class='bx bxl-instagram instagram rounded-4'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="col-md-6 col-sm-12">
                        <img src="{% static 'image/iran.svg' %}" class="iran" alt="iran flag" title="iran flag">
                    </div>
                    <div class="d-flex align-self-end footersmalltext col-md-6 col-sm-12 text-end">
                        <p class="text-start">طراحی و توسعه با <span class="text-danger px-1 h5">&hearts;</span>توسط تیم
                            <a class="px-2 text-decoration-none teamname"> تریک هاب</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rounded-circle bg-warning text-center h1 arrow">
        <a href="#sidebar" title="go to sidebar">
            <i class='bx bx-chevron-up text-dark'></i>
        </a>
    </div>