{% extends 'base.html' %}
{% load static %}
{% block description %}
    <meta name="description" content="{{ article.description }}">
    <meta name="keywords" content="طراحی سایت, طراحی وب سایت , وب سایت , راه اندازی وب سایت , وب سیات تخصصی , فرانت اند , بک اند , وردپرس , طراحی سایت وردپرسی , وب سایت وردپرسی , دیزاین وب سایت , تریک هاب , trick hub , {{ article.title }} "/>
{% endblock %}
{% block title %}
    Trick Hub | {{ article.title }}
{% endblock %}
<!DOCTYPE html>
<html lang="en">


<body>
{% block content %}

    <div class="container mt-5 col-md-12">
        <div class="box p-5 rounded-4" dir="rtl">
            <div class="d-flex justify-content-center">
                <img src="{{ article.image.url }}" alt="{{ article.title }}" title="blog big image" class="img-fluid w-25">
            </div>
            <ul>
                <li class="d-flex align-items-center">
                    <i class="bi bi-eye px-4 h5"></i>
                    <span>{{ article.hits.count }} بازدید</span>
                </li>
                <li class="d-flex align-items-center">
                    <i class="bi bi-calendar-week px-4 h5"></i>
                    <span>{{ article.jalali_created }}</span>
                </li>
                <li class="d-flex align-items-center">
                    {% if is_liked %}
                        <a onclick="like('{{ article.id }}')"><i class='bx bxs-heart h5 px-4 red' id="like"></i></a>
                        <span id="count">{{ article.likes.count }}</span>
                    {% else %}
                        <a onclick="like('{{ article.id }}')"><i class='bx bx-heart h5 px-4 like' id="like"></i></a>
                        <span id="count">{{ article.likes.count }}</span>
                    {% endif %}
                </li>
            </ul>
            <hr>
            <h2>{{ article.title }}</h2>
            <p class="text-fluid pt-4">{{ article.description }}</p>
        </div>
    </div>
    <div class="box container mt-5 mb-5 rounded-4 bg-white p-4 col-md-12" dir="rtl">

        <p>
            <i class="bi bi-tag-fill py-2 text-warning"></i> برچسب ها:
        </p>
        <ul class=" list-group list-group-horizontal">
            <li class="list-unstyled bg-light mx-2 p-1 rounded-2"><a href="" class="text-decoration-none text-dark">مقاله</a>
            </li>
            <li class="list-unstyled bg-light mx-2 p-1 rounded-2"><a href="" class="text-decoration-none text-dark">مقاله</a>
            </li>
            <li class="list-unstyled bg-light mx-2 p-1 rounded-2"><a href="" class="text-decoration-none text-dark">مقاله</a>
            </li>
            <li class="list-unstyled bg-light mx-2 p-1 rounded-2"><a href="" class="text-decoration-none text-dark">مقاله</a>
            </li>
            <li class="list-unstyled bg-light mx-2 p-1 rounded-2"><a href="" class="text-decoration-none text-dark">مقاله</a>
            </li>
        </ul>
    </div>


    <div class="box container rounded-4 p-4 mb-5" dir="rtl">
        <form method="post">
            {% csrf_token %}
            <ul class="p-0">
                <li class="d-flex align-items-center">
                    <i class="bi bi-chat-left-text-fill h3 px-3 text-warning"></i>
                    <h3>نظرات در رابطه با این مقاله</h3>
                </li>
            </ul>
            <div class="container">
                <div class="d-flex justify-content-around row">
                    <input type="hidden" id="parent_id" name="parent_id" value="">
                    <input type="text" name="firstname" class="col-md-6 col-sm-12 rounded-4 form-control w-50" placeholder="نام خود را وارد کنید">
                    <input type="text" name="lastname" class="col-md-6 col-sm-12 rounded-4 form-control w-50" placeholder="نام خانوادگی خود را وارد کنید">
                </div>
            </div>
            <textarea name="comment" id="write" class="rounded-4 p-4 mt-3 form-control col-md-12 col-sm-12" rows="10" cols="100" placeholder="نظر خود را وارد نمایید..."></textarea>
            <br>
            <input type="submit" value="ثبت نظر" class="btn btn-warning p-2 mt-2">
        </form>
        <ul class="mt-5">
            {% if comments %}
                {% for comment in comments %}
                    {% if comment.parent == None %}
                    <li class="list-unstyled commentlist mb-3 w-75 rounded-4 p-4">
                        <h5 class="d-inline">{{ comment.firstname }} {{ comment.lastname }} <span class="text-secondary mx-4">|</span></h5>
                        <p class="d-inline text-secondary">{{ comment.jalali_created }}</p>
                        <div onclick="set_value({{ comment.id }})" class="btn btn-success d-inline mx-2 p-1 py-0 text-decoration-none text-white"> ثبت پاسخ</div>
                        <p class="text-secondary mt-4">{{ comment.comment }}</p>
                    </li>
                    {% for replay in comment.replay.all %}
                    <li class="list-unstyled commentlist mb-3 reply w-75 rounded-4 p-4">
                        <h5 class="d-inline text-warning">{{ replay.firstname }} {{ replay.lastname }}<span class="text-secondary mx-4">|</span></h5>
                        <p class="d-inline text-secondary">{{ replay.jalali_created }}</p>
                        <p class="text-secondary mt-4">{{ replay.comment }}</p>
                    </li>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="py-3">
                    <span>درحال حاضر نظری ثبت نشده است...</span>
                </div>
            {% endif %}
        </ul>
    </div>
        <script>
        function set_value(id){
            document.getElementById('parent_id').value = id;
            window.location.href = '#write'
        }
    </script>
{% endblock %}
</body>

</html>